<app-filter-dialog [(FilterDialog)]="FilterDialogVisible"></app-filter-dialog>

<div class="search">
    <p-iconField iconPosition="left" styleClass="text">
        <p-inputIcon styleClass="pi pi-search"/>
        <input class="search-bar" type="text" pInputText placeholder="Suche..." style="width: 35.7rem;" 
        [(ngModel)]="searchFilter" 
        (input)="updateSearchFilter()">
    </p-iconField>
    <p-button label="Filter" severity="success" icon="pi pi-filter" (onClick)="updateDialogVisible()" />
    <p-button label="Filter Löschen" severity="success" icon="pi pi-trash"/>
</div>