.search {
    display: flex;
    padding: 1rem, 0;
    gap: 1rem;
    margin: 1rem 2rem;
    background-color: white;
    .search-bar {
        padding-left: 25px;
        height: 34px;
    }

    .dialog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .filter-tags {
    display: flex;

    }
    .listbox {
        display: flex;

    }
    
}