.search {
    display: flex;
    padding: 1rem 0rem;
    gap: 1.14rem;
    margin: 0rem 2rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 4.3rem;

    .search-bar {
        padding-left: 1.79rem;
        height: 2.43rem;
    }

    .dialog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        padding-top: 2rem;
    
    }
}