<p-dialog class="dialog" header="Filter" [(visible)]="FilterDialog" [style]="{ width: '55rem' }" 
    closeOnEscape="true" dismissableMask="true" [modal]="true" (onHide)="updateDialogVisible()">
    <p-button 
        class="save-button"
        label="Speichern" 
        severity="success" 
        (onClick)="updateDialogVisible()"
        />
    <div class="dialog-content">
        <div class="filter-tags">
            @for (filterGroup of filters; track $index) {
                <p-listbox 
                [options]="filterGroup.options" 
                [(ngModel)]="filterGroup.selected"
                [filter]="true" 
                [filterPlaceHolder]="filterGroup.label"
                [style]="{ width: '9.5rem' }" 
                [listStyle]="{'max-height': '220px'}"
                [multiple]="true"
                />            
            }
        </div>
    </div>
</p-dialog>
