/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/saga-purple/theme.css";

html, body {
    font-size: 14px;
    height: 100%;
}

*:focus {
    box-shadow: none !important;
  }

i {
    padding: 0.5rem;
    border-radius:100%;
    transition: 0.15s;
    border: 1px solid gray;
    cursor: pointer;
}