<div class="detailpage">
    <div class="recepie-name">
        {{recepie.name}}
    </div>
    <div class="top-section">
        <div class="info">
            <div class="picture-ingrediants">
                <img 
                    class="recepie-picture"     
                    src="{{recepie.picture}}">
                <div class="card">
                    <p-table 
                        [columns]="cols" 
                        [value]="ing" 
                        [tableStyle]="{ 'min-width': '20rem' }" 
                        [styleClass]="'p-datatable-sm' " 
                        id="tabel" >
                        <ng-template 
                            pTemplate="header" 
                            let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template 
                            pTemplate="body" 
                            let-rowData 
                            let-columns="columns">
                            <tr>
                                @for (column of columns; track $index) {
                                    <td>
                                        @if ($index !== 0 || rowData[columns[1].field] !== 'nb') {
                                            {{ rowData[column.field] }}
                                        }
                                    </td>
                                }
                            </tr>
                        </ng-template>
                    </p-table>
                </div> 
            </div>
        </div> 
        <div class="variables">
            <div class="time-person">
                <div class="time">
                    {{timeUnit(recepie.time)}}
                </div>
                <div class="person">
                    {{recepie.person}}
                </div>
            </div>
            <p-button 
                label="Personenanzahl ändern" 
                severity="success" 
                [text]="true" 
                (onClick)="op.toggle($event)"/>

            <p-overlayPanel #op>
                <p-inputNumber 
                [(ngModel)]="inputValue"
                inputId="integeronly"
                mode="decimal"
                inputId="minmax"
                [min]="1" 
                [max]="100" 
                placeholder="{{recepie.person}}"
                size="1"
                /> 
                <p-button 
                    label="Speichern" 
                    severity="success" 
                    (onClick)="updatePerson()" 
                    (onClick)="op.hide()" />
            </p-overlayPanel>
            <p-toast [life]="1500" />
            <p-button 
                [label]="recepieInCartLabel()" 
                severity="success" 
                (onClick)="addRemoveFromCart()" 
                (onClick)="showToast()"
                />
        </div>
    </div>
    <div class="bottom-section">
        <p class="zubereitung">
            Zubereitung
        </p>
        <div class="instruction">
            <ol>
                @for (instruction of recepie.instruction; track $index) {
                    <p-divider align="left" type="solid" [style]="{'color' : 'var(--titel-green)', 'font-family' : 'Nunito'}">
                        <b>{{$index+1}}</b>
                    </p-divider>
                    <p>
                        {{instruction}}
                    </p>

                } 
            </ol>
        </div>
        <p class="author">
            {{recepie.author}}
        </p>
    </div>
</div>
